# Dependencies
node_modules/
*.tsbuildinfo

# Build
dist/

# Env
.env
.env.local
.env.*.local

# AI tooling
.gemini/
agents/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp/
supabase/.env.local
supabase/snippets/*
supabase/functions/*/.npmrc
dumps/*


_mkt/*
guide_docs/*
scripts/*
pagespeed_desktop.pdf
pagespeed_mobile.pdf
